.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
}
.item-container:hover {
  box-shadow: 0 8px 16px 0 rgba(245, 0, 0, 0.2);
}
.item-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.item-img-container {
  display: flex;
  justify-content: center;
  width: 350px;
  overflow: hidden;
}
.item-price-name-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  height: 20%;
}

.item-control-container {
  margin: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  /* justify-content: space-between; */
  width: 100%;
}

.item-button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.item-button:hover {
  background-color: royalblue;
}
