@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 350px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px 0px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
  border-radius: 5px;
  padding: 15px;
}
.container:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px 0px;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 350px;
  overflow: hidden;
}
.img {
  max-width: 70%;
  max-height: 70%;
  transition: 0.3s;
}
.img:hover {
  max-width: 90%;
  max-height: 90%;
  display: block;
}
.price-name-container {
  font-family: "Ubuntu Mono", monospace;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  height: 20%;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
