.shop {
  display: grid;
  margin: 20px;
}

.shop > * {
  margin: 20px;
}

@media (min-width: 600px) {
  .shop {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .shop {
    grid-template-columns: repeat(4, 1fr);
  }
}
