.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-container {
  align-items: center;
  justify-content: space-between;
}

.name {
  display: flex;
  align-items: center;
}
